.mere1 {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    background-color: rgba(82, 115, 26, 0.495);
    border: yellowgreen;
    border-radius: 5%;

}

.mere2 {
    display: flex;
}


ul {
    display: flex;
    justify-content: space-around;
}

.mere3 {
    font-family: 'Courier New', Courier, monospace;
}

.bloc4 {
    display: flex;
    justify-content: center;
}

.mere4 {
    display: flex;
    justify-content: space-around;
}

.mere5 {
    position: relative;
}

.bloc7 {
    position: absolute;
    top: 0;
    padding: 10%;
    right: 31%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    position: relative;
}

.mere7 {
    display: flex;
    justify-content: center;
    font-family: "HyundaiRegular", Arial, sans-serif;
    font-size: 25px;
}

.bloc10 {
    margin-bottom: 60px;
}

.bloc8.li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.bloc11 {
    position: relative;
}

.bloc9 {
    img {
        border-radius: 10%;
    }
}

.bloc12 {
    text-align: center;
    font-size: 30px;
}

#videoBox {
    text-align: center;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    overflow: hidden;
    height: 400px;
    width: 1000px;

}

.menu {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    display: block;
    background: #293245;
}

.has-sous-nav {
    position: relative;
}

.sous-nav {
    list-style: none;
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background: #fff;
    width: fit-content;

}

.sous-nav li a:hover {
    background: #F2F2F2;
}

.has-sous-nav:hover .sous-nav {
    display: block;
}

.mere15 {
    display: block;
    position: relative;
}

.bloc22 {
    position: absolute;
    top: 100px;
    display: block;
    margin-right: 20px;
    text-align: center;
}